In [5]:
# Basics in Python

In [6]:
print("hello")

hello

In [2]:
5+6

11

In [3]:
"h"+5

TypeError: can only concatenate str (not "int") to str

In [4]:
"5"+"5"

'55'

In [7]:
list1=[10,20,30,40,50]
len(list1)

5

In [8]:
max(list1)

50

In [9]:
min(list1)

10

In [10]:
list1.count(10)

1

In [11]:
list1.append(20)

In [12]:
list1.append(20)

In [13]:
print(list1)

[10, 20, 30, 40, 50, 20, 20]

In [14]:
list1.count(20)

3

In [15]:
list2=[11,12]
list1.extend(list2)

In [16]:
print(list1)

[10, 20, 30, 40, 50, 20, 20, 11, 12]

In [17]:
list1.insert(1,90)
print(list1)

[10, 90, 20, 30, 40, 50, 20, 20, 11, 12]

In [18]:
list1.remove(90)
print(list1)

[10, 20, 30, 40, 50, 20, 20, 11, 12]

In [19]:
list1.pop(5)
print(list1)

[10, 20, 30, 40, 50, 20, 11, 12]

In [20]:
x=list1.remove(10)
print(x)

None

In [21]:
x=list1.pop(0)
print(x)

20

In [22]:
list1.reverse()
print(list1)

[12, 11, 20, 50, 40, 30]

In [2]:
tuple1=(10,20,20,30,40,50)
print(tuple1)

(10, 20, 20, 30, 40, 50)

In [3]:
tuple1[1]=9

TypeError: 'tuple' object does not support item assignment

In [4]:
tuple1(1)=9

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (85143482.py, line 1)

In [5]:
l1=list(tuple1)
print(l1)

[10, 20, 20, 30, 40, 50]

In [6]:
l1[1]=9
print(l1)

[10, 9, 20, 30, 40, 50]

In [7]:
tuple1=tuple(l1)
print(tuple1)

(10, 9, 20, 30, 40, 50)

In [8]:
min(tuple1)

9

In [9]:
cmp(tuple1,l1)

NameError: name 'cmp' is not defined

In [10]:
t1=(1,2,3)
t2=(3,4,5)
cmp(t1,t2)

NameError: name 'cmp' is not defined

In [12]:
student={'name':'kumar','id':123456,'designation':'AP'}
student['id']

123456

In [13]:
student[0]

KeyError: 0

In [15]:
student['name']='Rohan'
print(student)

{'name': 'Rohan', 'id': 123456, 'designation': 'AP'}

In [16]:
student['age']=25
print(student)

{'name': 'Rohan', 'id': 123456, 'designation': 'AP', 'age': 25}

In [19]:
seq=('name','age')
dict1=dict1.fromkeys(seq)
print(dict1)

{'name': None, 'age': None}