In [3]:
# creating class
class employee:
    def __init__(self):
        self.eid=11002
        self.ename='Mandeep Singh'
    def getDetails(self):
        print("Employee Id:{}".format(self.eid))
        print("Employee Name:{}".format(self.ename))

# Creating refrence for a class
emp=employee()
emp.getDetails()

Employee Id:11002
Employee Name:Mandeep Singh

In [10]:
# Creating a function with parameter and return value
def add(a,b):
    c=a+b
    return c
    
value1=int(input("Enter first value1\n"))
value2=int(input("Enter second value\n"))
result=add(value1,value2)
print("sum of {} and {} is:{}".format(value1,value2,result))

Enter first value1
55
Enter second value
33
sum of 55 and 33 is:88

In [11]:
# Creating a function with default argument
def getDetails(regno,name,section='D2110'):
    print("Section:",section)
    print("Reg No:",regno)
    print("Name:",name)
# calling function
getDetails(11213456,'Nitesh')

Section: D2110
Reg No: 11213456
Name: Nitesh

In [12]:
# Creating a function with variable length arguments
def sum(*value):
    result=0
    for i in value:
        result=result+i
    print(result)
sum(10,20)# 2 arguments
sum(10,20,30,40,50) # 5 arguments

30
150

In [13]:
# Creating a function with multiple return values
def calculate(a,b):
    add=a+b
    sub=b-a
    mult=a*b
    div=a/b
    return add,sub,mult,div

res1,res2,res3,res4=calculate(10,5)
print("add",res1)
print("sub",res2)
print("Mult",res3)
print("Division",res4)

add 15
sub -5
Mult 50
Division 2.0

In [17]:
x=10
def disp1():
    global x
    x=20
    print(x)
def disp2():
    print(x)
    
disp1()
disp2()

20
20

In [7]:
# creating class
class employee:
    eid=0
    ename="name"
    def __init__(self,empid,name='kkk'):# parameterized constructor with default argument
        self.eid=empid
        self.ename=name
    def getDetails(self):
        print("Employee Id:{}".format(self.eid))
        print("Employee Name:{}".format(self.ename))

# Creating refrence for a class
emp1=employee(111)
emp1.getDetails()
emp2=employee(222,'Rahul')
emp2.getDetails()

Employee Id:111
Employee Name:kkk
Employee Id:222
Employee Name:Rahul

In [4]:
class mobile:
    __modelNo='Redmi x2'
    __maxPrice=15000
    __newPrice=0
    def getPrice(self):
        print("Model No.:{} Price:{}".format(self.__modelNo,self.__newPrice))
    def setPrice(self,price):
        self.__newPrice=price
        
m1=mobile()
#m1.__newPrice=18000
m1.setPrice(18000)
m1.getPrice()

Model No.:Redmi x2 Price:18000

In [4]:
class faculty:
    _salary=25000
class science(faculty):
    __scbonus=2000
    def getScience(self):
        return self._salary+self.__scbonus
class management(science):
    __mbbonus=3000
    def getMba(self):
        return self._salary+self.__mbbonus

m1=management()
print(m1.getScience())
print(m1.getMba())

27000
28000

In [7]:
class bank:
    _rateofI=0.0
class sbi(bank):
    __sbiCode="sbi001"
    def getRateSbi(self):
        self._rateofI=4.5
        return self._rateofI
class pnb(bank):
    __pnbCode="pnb001"
    def getRatePnb(self):
        self._rateofI=5.5
        return self._rateofI
s=sbi()
print(s.getRateSbi())
p=pnb()
print(p.getRatePnb())

4.5
5.5

In [8]:
class academic:
    _course="CAP776"
class sports:
    _game="cricket"
class student(academic,sports):
    __regno=123456
    def getDetails(self):
        print("Reg No.:{} course:{} Game:{}".format(self.__regno,self._course,self._game))
s1=student()
s1.getDetails()

Reg No.:123456 course:CAP776 Game:cricket

In [1]:
# Example of Hybrid Inheritance
class student:
    _regno=123456
class exam(student):
    _eName="MTE"
class project:
    _pName="UMS"
class result(exam,project):
    __status="Pass"
    def getStatus(self):
        print("Reg No:{} Exam:{} Project:{} Status:{}".format(self._regno,self._eName,self._pName,self.__status))
res=result()
res.getStatus()

Reg No:123456 Exam:MTE Project:UMS Status:Pass

In [9]:
class p1:
    def __init__(self):
        print("P1 class constructor")
class p2:
    def __init__(self):
        print("P2 class constructor")
class p3(p2,p1):
    pass

p=p3()

P2 class constructor

In [8]:
class base:
    def __init__(self):
        print("Parent class constructor")
class derived(base):
    def __init__(self):
        super().__init__()
        print("Child class constructor")
d1=derived()

Parent class constructor
Child class constructor

In [9]:
class person:
    def role(self):
        print("I am kumar")
class Teacher(A):
    def role(self):
        print("I am a Teacher")
        
t1=Teacher()
t1.role()

I am a Teacher

In [19]:
from abc import ABC, abstractmethod
class Bank(ABC):
    @abstractmethod 
    def rate(self):
        pass
    def details(self):
        banklist=['SBI','PNB','OBC']
        print("Bank in India:")
        for i in banklist:
            print("{}".format(i))
class SBI(Bank):
    def rate(self):
        return 4.5
s1=SBI()
s1.details()
print("Rate in SBI:{}".format(s1.rate()))

Bank in India:
SBI
PNB
OBC
Rate in SBI:4.5

In [21]:
# use of super() to call base class method in derived class in case of overriding
class person:
    def role(self):
        print("I am a student")
class student(person):
    def role(self):
        super().role()
        print("I am a player")
s1=student()
s1.role()

I am a student
I am a player